.lyt-freedam {
    padding: 20px 0px;
    .btn-wrap {
        text-align: center;
        margin-top: 50px;
    }
    .extra-note {
        margin-top: 20px;
        font-size: 12px;
        line-height: 16px;
        color: $clr-base-light;
        font-weight: $font-regular;
        text-align: center;
        display: block;
        margin-bottom: 30px;
        .link {
            color: $clr-primary;
        }
    }
    .emp-code {
        margin-top: 20px;
        text-align: center;
        .form-control {
            width: 320px;
            padding: 10px;
            font-size: 15px;
            line-height: 17px;
            border-radius: 10px;
            border: 1px solid $clr-border;
            color: $clr-offbalck;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .lyt-freedam {
        .extra-note {
            font-size: 12px;
            line-height: 16px;
        }
        .emp-code {
            margin: 20px auto 0px;
            width: 90%;
            display: block;
            .form-control {
                width: 100%;
                padding: 5px;
                font-size: 12px;
                line-height: 14px;
                border-radius: 10px;
                border: 1px solid $clr-border;
                color: $clr-offbalck;
            }
        }
    }
}