.lyt-login {
    margin-bottom: 60px;
    .list-item {
        width: 49%;
        display: inline-block;
        padding: 35px 50px;
        margin-right: 10px;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        -moz-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        border-radius: 5px;
        position: relative;
        &:last-child {
            margin-right: 0px;
        }
        .page-link {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 1;
            display: block;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .lyt-login {
        .list-item {
            width: 100%;
            display: block;
            padding: 15px 25px;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}