// lyt-questionnaire
.lyt-questionnaire {
    padding-top: 40px;
    max-width: 960px;
    margin: 0px auto 25px;
    position: relative;
    .swiper-slide {
        width: auto;
        box-shadow: 0px 0px 5px #ccc;
        &.swiper-slide-active {
            .bs-question-card {
                background: #053769;
                .question-wrap {
                    .question {
                        color: $clr-white;
                    }
                }
            }
        }
    }
    .swiper-container {
        width: 31rem;
        margin: 0;
        overflow: initial;
    }
    .action-button {
        margin-top: 50px;
        text-align: center;
    }
    .swiper-slide-prev {
        opacity: 0.35;
    }
}

@media only screen and (max-width:767px) {
    .lyt-questionnaire {
        padding-top: 0px;
        .swiper-container {
            width: 100%;
        }
        .swiper-slide {
            min-width: 230px;
            max-width: 260px;
            width: 80%;
        }
    }
}