//lyt-box
.lyt-box {
    margin-bottom: 40px;
    .list-item {
        .mod-box {
            padding: 28px 0px 0px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .lyt-box {
        .list-item {
            .mod-box {
                padding: 20px 10px;
            }
        }
    }
}