/* colors */

$clr-white:#ffffff;
$clr-black:#000000;
$clr-offbalck:#333333;
$clr-primary:#97291E;
$clr-secondary:#fe6601;
$clr-base-dark:#003466;
$clr-base-light:#7b7b7b;
$clr-border:#b3b3b3;

/*font family*/

$font-regular:400;
$font-light:300;
$font-medium:500;
$font-semibold:600;
$font-bold:700;

/* breakpoints */

$media-xs:1200px;
$media-md:992px;
$media-lg:768px;
$media-xl:576px;