//mod-box   
.mod-box {
    padding: 20px 0px 35px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
    -moz-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
    box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
    &.no-bottom {
        padding-bottom: 0px;
    }
    &.typ-rc {
        padding: 24px 30px;
    }
    &.top-border {
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            width: 100%;
            height: 2px;
            background-color: $clr-secondary;
            left: 0;
            right: 0;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .mod-box {
        padding: 10px 0px 20px;
        &.typ-rc {
            padding: 20px 15px;
        }
    }
}