//mod-fund
.mod-fund {
    margin: 0px auto;
    text-align: center;
    width: 270px;
    padding-bottom: 25px;
    .fund-title {
        font-size: 14px;
        line-height: 16px;
        color: $clr-offbalck;
        font-weight: $font-bold;
        margin-bottom: 3px;
    }
    .fund-subtitle {
        font-size: 11px;
        line-height: 13px;
        color: $clr-base-light;
        margin-bottom: 10px;
    }
    .list {
        margin-bottom: 15px;
        &.single {
            .list-item {
                text-align: center;
            }
        }
    }
    .list-item {
        text-align: left;
        .label {
            display: block;
            font-size: 12px;
            line-height: 14px;
            font-weight: $font-regular;
            display: block;
            margin-bottom: 3px;
        }
        &.border {
            padding-left: 40px;
            border-left: 1px solid $clr-border;
        }
        .data {
            font-size: 14px;
            line-height: 16px;
            color: $clr-black;
            font-weight: $font-bold;
            position: relative;
            min-height: auto;
            &.star {
                padding-left: 20px;
                &:before {
                    content: '';
                    background: url('../images/star.png')no-repeat 0px 0px transparent;
                    background-size: cover;
                    width: 15px;
                    height: 15px;
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
            }
        }
        .input-group {
            position: relative;
            .edit-link {
                background: url('../images/common/edit.png')no-repeat 0px 0px transparent;
                background-size: cover;
                width: 15px;
                height: 15px;
                display: block;
                position: absolute;
                top: 0px;
                right: -15px;
            }
            .data {
                border: 0px;
                width: 100%;
                cursor: pointer;
                background: transparent;
                height: auto;
                &:focus {
                    outline: 0px;
                }
            }
        }
    }
    .btn-link {
        font-size: 14px;
        line-height: 16px;
        font-weight: $font-regular;
        text-transform: capitalize;
        color: $clr-primary;
    }
}

@media only screen and (max-width:$media-lg) {
    .mod-fund {
        width: 100%;
        padding: 0px 15px 20px;
        .list-item {
            width: 49%;
            .input-group {
                .edit-link {
                    right: 30px;
                }
            }
            &.border {
                padding-left: 20px;
            }
        }
        .list {
            margin-bottom: 0px;
            &.single {
                .list-item {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}