//mod-label-info
.mod-label-info {
    text-align: left;
    .lbl {
        display: block;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 5px;
        font-weight: $font-regular;
    }
    .info {
        font-size: 16px;
        line-height: 18px;
        font-weight: $font-bold;
        color: $clr-base-dark;
    }
}

@media only screen and (max-width:$media-lg) {
    .mod-label-info {
        .lbl {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 5px;
        }
        .info {
            font-size: 12px;
            line-height: 14px;
        }
    }
}