//mod-header
.mod-header {
    margin-bottom: 15px;
    position: relative;
    .head-wrap {
        .title {
            font-size: 18px;
            line-height: 20px;
            color: $clr-base-light;
            font-weight: $font-bold;
            .thin {
                font-weight: $font-light;
            }
        }
        &.typ-2 {
            color: $clr-offbalck;
            margin-bottom: 35px;
            .title {
                font-size: 24px;
                line-height: 26px;
                color: $clr-offbalck;
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
                line-height: 16px;
            }
        }
        &.typ-3 {
            .title {
                font-size: 24px;
                line-height: 26px;
                color: $clr-offbalck;
                margin-bottom: 5px;
                font-weight: $font-bold;
            }
        }
        .note {
            margin-left: 55px;
            position: relative;
            display: inline-block;
            color: $clr-offbalck;
            opacity: 0.7;
            padding: 13px;
            background: #fff7e2;
            font-size: 14px;
            line-height: 16px;
            margin-top: 20px;
            &:before {
                content: '';
                width: 40px;
                height: 40px;
                background: url('../images/note-icon.png') 0 0 no-repeat;
                background-size: cover;
                position: absolute;
                left: -55px;
                top: 50%;
                transform: translateY(-50%);
            }
            &:after {
                content: '';
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid #fff7e2;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -8px;
            }
        }
    }
    .profile-bar {
        position: absolute;
        top: -3px;
        right: 0px;
        .btn {
            padding: 0px;
            &.btn-link {
                background: none;
                margin-left: 10px;
                .icon {
                    width: 33px;
                    height: 33px;
                    &.icon-search {
                        background: url('../images/search-bg.png');
                        background-size: cover;
                        display: block;
                    }
                    &.icon-cart {
                        background: url('../images/cart.png');
                        background-size: cover;
                        display: block;
                    }
                    &.icon-profile {
                        background: url('../images/profile1.png');
                        background-size: cover;
                        display: block;
                    }
                    &.icon-sort {
                        background: url('../images/sort.png');
                        background-size: cover;
                        display: block;
                    }
                }
            }
        }
    }
    .customize-wrap {
        display: none;
        width: 230px;
        position: absolute;
        top: 38px;
        right: 136px;
        padding: 25px 20px;
        background: $clr-white;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #aeaeae;
        z-index: 2;
        // overflow: hidden;
        &:before {
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $clr-white;
            position: absolute;
            content: '';
            top: -7px;
            right: 10px;
        }
        .list {
            .item {
                margin-bottom: 25px;
                padding: 0;
                .customize-title {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 15px;
                    font-weight: bold;
                    color: $clr-offbalck;
                }
                .bs-radio {
                    margin-bottom: 20px;
                    float: none;
                    display: block;
                    height: auto;
                    input[type=radio]:not(old) {
                        position: absolute;
                        left: -9999px;
                        &+label {
                            font-size: 12px;
                            line-height: 14px;
                            font-weight: $font-regular;
                            color: $clr-border;
                            cursor: pointer;
                            padding-left: 20px;
                            position: relative;
                            &:before {
                                content: "";
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                border: 1px solid $clr-primary;
                                left: -2px;
                                top: -1;
                                border-radius: 50%;
                                transition: all 0.5s ease;
                            }
                        }
                        &:checked {
                            &+label {
                                color: $clr-offbalck;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    width: 7px;
                                    height: 7px;
                                    background: $clr-primary;
                                    left: 2px;
                                    top: 4px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }
        .act-wrap {
            text-align: left;
            button {
                width: 100px;
                margin-right: 10px;
                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
        &.typ-profile {
            // display: block;
            right: 0px;
            width: 100%;
            padding: 0px;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .mod-header {
        // overflow: hidden;
        padding-bottom: 50px;
        &.no-padding {
            padding-bottom: 0px;
        }
        .profile-bar {
            margin-top: 10px;
            float: right;
            display: block;
            position: static;
        }
        .head-wrap {
            &.typ-2 {
                margin-bottom: 10px;
                .title {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 10px;
                    .cm-line-break {
                        display: inline-block;
                    }
                }
                p {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            &.typ-3 {
                .title {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
        .profile-bar {
            &.typ-login {
                display: none;
            }
        }
        .customize-wrap {
            width: 200px;
            position: absolute;
            top: 120px;
            right: 70px;
            padding: 20px 15px;
            &:before {
                right: 75px;
            }
            .list {
                .item {
                    margin-bottom: 20px;
                    .bs-radio {
                        margin-bottom: 15px;
                    }
                }
            }
            &.typ-profile {
                // display: block;
                &:before {
                    right: 10px;
                }
            }
        }
    }
}