// mod-risk

.mod-risk {
    .bs-icon-info,
    .distribution-wrap {
        width: 50%;
        float: left;
    }
    .bs-icon-info {
        padding: 0.8rem 1.5rem;
        border-right: 1px solid #d6d6d6;
        transition: all 0.5s ease-in-out;
    }
    .distribution-wrap {
        padding: 2rem 2.5rem;
    }
    .label-value {
        display: inline-block;
        margin-right: 1.5rem;
        .label,
        .value {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.4rem;
            line-height: 1.6rem;
            transition: all 0.5s ease-in-out;
        }
        .label {
            color: #999999;
        }
        .value {
            font-weight: $font-bold;
            color: $clr-base-dark;
            margin-left: 0.3rem;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .mod-risk {
        .bs-icon-info,
        .distribution-wrap {
            width: 100%;
            float: none;
        }
        .bs-icon-info {
            border-right: none;
            padding: 1rem 1.5rem 0.8rem;
        }
        .distribution-wrap {
            padding: 0.8rem 1.5rem 1rem;
        }
        .label-value {
            margin-right: 3.5rem;
            .label,
            .value {
                font-size: 1.3rem;
                line-height: 1.5rem;
            }
        }
    }
}