//mod-transation
.mod-transation {
    .fund-wrap {
        padding: 25px 30px;
        position: relative;
        .title-wrap {
            position: relative;
            display: block;
            margin-bottom: 25px;
            .fund-title {
                font-size: 20px;
                line-height: 22px;
                color: $clr-offbalck;
                font-weight: $font-bold;
            }
            .tag {
                position: absolute;
                bottom: 0px;
                right: 0px;
                padding: 5px 10px;
                border: 1px solid #b3b3b3;
                border-radius: 20px;
                font-size: 12px;
                line-height: 12px;
                color: #4f4f4f;
            }
        }
        .select-wrap {
            width: 81%;
            display: inline-block;
            vertical-align: bottom;
            .bs-label-value {
                width: 24%;
                display: inline-block;
                &:last-child {
                    padding-left: 20px;
                }
            }
        }
        .act-wrap {
            width: 18%;
            display: inline-block;
            vertical-align: bottom;
            text-align: right;
            padding-right: 35px;
        }
        .sub-nav-link {
            position: absolute;
            right: 30px;
            bottom: 30px;
            .dot {
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                margin-bottom: 2px;
                background: $clr-offbalck;
                opacity: 0.7;
            }
        }
        .nav-link {
            width: 165px;
            -webkit-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
            -moz-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
            box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
            border-radius: 5px;
            padding: 10px;
            position: absolute;
            right: 50px;
            top: 40px;
            background-color: $clr-white;
            opacity: 0;
            display: none;
            .link-item {
                padding: 10px;
                border-bottom: 1px solid #cccccc;
                font-size: 12px;
                line-height: 14px;
                color: $clr-black;
                font-weight: $font-regular;
                cursor: pointer;
                &:last-child {
                    border-bottom: 0px;
                }
            }
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 0 10px 15px;
                border-color: transparent transparent transparent $clr-white;
                position: absolute;
                top: 45px;
                right: -15px;
            }
        }
    }
    .count-wrap {
        padding: 15px 30px 25px;
        background: #f6f6f6;
        display: none;
        .item {
            width: 24%;
            display: inline-block;
            padding-left: 25px;
            border-left: 1px solid #c5c5c5;
            &:first-child {
                padding-left: 0px;
                border-left: 0px;
            }
            .bs-label-value {
                .value {
                    color: #999999;
                }
            }
        }
    }
    .fund-detail {
        .title {
            padding-top: 25px;
            border-top: 1px solid #cccccc;
            font-size: 18px;
            line-height: 20px;
            color: $clr-offbalck;
            font-weight: $font-bold;
            margin: 0px 30px;
            padding-bottom: 20px;
        }
        &.transactions {
            display: none;
        }
        &.buy {
            display: none;
        }
        &.sell {
            display: block;
        }
        &.transfer {
            display: none;
        }
    }
}

@media only screen and (max-width:768px) {
    .mod-transation {
        .fund-wrap {
            padding: 15px;
            .title-wrap {
                .fund-title {
                    font-size: 16px;
                    line-height: 18px;
                }
                .tag {
                    display: none;
                }
            }
            .sub-nav-link {
                right: 15px;
                top: 15px;
                bottom: auto;
            }
            .select-wrap {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .bs-label-value {
                    width: 50%;
                    margin-bottom: 20px;
                    &:nth-child(even) {
                        padding-left: 20px;
                    }
                }
            }
            .act-wrap {
                width: 100%;
                text-align: center;
            }
        }
        .fund-detail {
            .title {
                border-top: 0px;
                margin: 0px 15px;
                padding-top: 15px;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}