//mod-data
.mod-data {
    position: relative;
    .list-item {
        width: 24.5%;
        display: inline-block;
        &:nth-child(1) {
            width: 29%;
        }
        &:nth-child(2) {
            width: 29%;
        }
        &:nth-child(3) {
            width: 25%;
        }
        &:nth-child(4) {
            width: 15%;
        }
        .label {
            font-size: 16px;
            line-height: 18px;
            display: block;
            font-weight: $font-regular;
            color: $clr-offbalck;
            margin-bottom: 20px;
        }
        .data {
            font-size: 24px;
            line-height: 26px;
            display: block;
            font-weight: $font-bold;
            color: $clr-base-dark;
            &.cl-profit {
                color: green;
            }
            &.cl-loss {
                color: red;
            }
        }
    }
    .icon {
        &.icon-arrow {
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 26px;
            background: url('../images/black-arrow.png')no-repeat 0px 0px transparent;
            background-size: cover;
            display: block;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .mod-data {
        .list-item {
            margin-bottom: 20px;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                width: 49%;
            }
            .label {
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 5px;
            }
            .data {
                font-size: 16px;
                line-height: 18px;
            }
        }
        .icon {
            &.icon-arrow {
                width: 7px;
                height: 13px;
                top: auto;
                transform: none;
                bottom: 0px;
            }
        }
    }
}