//mod-profile
.mod-profile {
    width: 49%;
    display: inline-block;
    padding: 15px 0px;
    position: relative;
    .name {
        display: block;
        font-size: 20px;
        line-height: 24px;
        color: $clr-offbalck;
        font-weight: $font-bold;
    }
    .account-number {
        font-size: 16px;
        line-height: 20px;
        color: $clr-offbalck;
        font-weight: $font-regular;
        .number {
            padding-left: 20px;
        }
    }
    &:last-child {
        padding-left: 30px;
        border-left: 1px solid #cccccc;
        &:before {
            right: -14px;
        }
    }
    &:before {
        content: '';
        position: absolute;
        right: 20px;
        top: 22px;
        width: 6px;
        height: 11px;
        background: url('../images/black-arrow.png') no-repeat 0px 0px transparent;
        background-size: cover;
        display: block;
    }
}

@media only screen and (max-width:$media-lg) {
    .mod-profile {
        width: 100%;
        padding: 15px;
        .name {
            font-size: 16px;
            line-height: 20px;
        }
        .account-number {
            font-size: 12px;
            line-height: 16px;
            .number {
                padding-left: 15px;
            }
        }
        &:last-child {
            border: 0px;
            border-top: 1px solid #cccccc;
            padding-left: 15px;
            &:before {
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
            }
        }
        &:before {
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    }
}