//mod-img-info
.mod-img-info {
    width: 650px;
    margin: 0px auto;
    .img-wrap {
        width: 128px;
        height: 131px;
        display: inline-block;
        margin-right: 30px;
        vertical-align: top;
        img {
            width: 100%;
        }
    }
    .info-wrap {
        width: 75%;
        display: inline-block;
        vertical-align: top;
        .title {
            font-size: 40px;
            line-height: 42px;
            margin-bottom: 15px;
        }
        p {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        &.typ-2 {
            .title {
                font-size: 24px;
                line-height: 26px;
            }
            p {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
    .btn-wrap {
        .btn {
            margin-right: 10px;
            text-transform: capitalize;
            &.last {
                margin-right: 0px;
            }
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .mod-img-info {
        width: 100%;
        padding: 0px 20px;
        .img-wrap {
            width: 53px;
            height: 60px;
        }
        .info-wrap {
            width: 70%;
            .title {
                font-size: 24px;
                line-height: 26px;
            }
            p {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}