html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: $clr-white;
    font-size: 12px;
    overflow-x: hidden !important;
    width: 100%;
    color: $clr-base-light;
}

img {
    width: 100%;
}

a {
    &:hover {
        text-decoration: none;
        // color: $clr-primary;
    }
}

.main {
    width: 100%;
    overflow-x: hidden;
}

.cm-not-in-page {
    left: -99999px;
    position: absolute;
    top: -99999px;
}

.js-tab-show {
    display: none;
    &.active {
        display: block;
    }
}

input[type=radio]:not(old)+label {
    cursor: pointer;
}

.cm-line-break {
    display: block;
}

.set-bg {
    background-size: cover;
    .fetch-img-src {
        display: none;
    }
}

.cm-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }
}

.cm-container {
    max-width: 955px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.back-nav {
    position: relative;
    margin-bottom: 20px;
    .back-link {
        padding-left: 15px;
        font-size: 12px;
        line-height: 14px;
        color: $clr-primary;
        &:before {
            content: '';
            position: absolute;
            top: 1px;
            background: url('../images/common/back-arrow.png');
            background-size: cover;
            width: 5px;
            height: 10px;
            display: block;
        }
    }
}

.fi {
    padding-top: 40px;
}

.col-2 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

* {
    box-sizing: border-box;
}

header {
    display: block;
    width: 100%;
    background: url('../images/Header.png') center top no-repeat;
}

header .container {
    height: 153px;
}

footer {
    display: block;
    width: 100%;
    background: url(../images/Footer.png) center top no-repeat;
}

footer .container {
    height: 209px;
}

@media only screen and (max-width:$media-lg) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .bs-container {
        width: 100%;
    }
    header {
        display: none;
    }
    footer {
        display: none;
    }
}