//bs-video
.bs-video {
    .video-frame {
        background: url('../images/video-bg.png') no-repeat 0px 0px transparent;
        background-size: cover;
        width: 100%;
        height: 300px;
        display: block;
        position: relative;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .icon-play {
            content: '';
            position: absolute;
            background: url('../images/play.png') no-repeat 0px 0px transparent;
            background-size: cover;
            width: 80px;
            height: 80px;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0px auto;
            transform: translateY(-50%);
        }
    }
    .video-info {
        background: #ffffff;
        padding: 20px;
        font-size: 20px;
        line-height: 22px;
        color: #333333;
        font-weight: $font-bold;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        -moz-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-video {
        .video-frame {
            height: 135px;
            .icon-play {
                width: 40px;
                height: 40px;
            }
        }
        .video-info {
            padding: 10px;
            font-size: 12px;
            line-height: 14px;
        }
    }
}