//bs-slider
.bs-slider {
    margin-top: 20px;
    margin-right: 45px;
    border: 0px;
    background: #765942;
    box-shadow: none;
    &.noUi-horizontal {
        height: 5px;
        .noUi-handle {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            top: -6px;
            right: -15px;
            border: 1px solid $clr-white;
            background: $clr-secondary;
            &:before,
            &:after {
                content: none;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .noUi-connect {
        background: $clr-secondary;
    }
    .noUi-marker-large {
        background: transparent;
    }
    .noUi-marker {
        background: transparent;
    }
    .noUi-value {
        top: 5px;
        // left: 15px !important;
    }
    .noUi-pips-horizontal {
        padding: 0px;
        height: auto;
    }
    .noUi-value-large {
        left: 30px !important;
        width: 50px;
        text-align: left;
        &:last-child {
            left: auto !important;
            right: -25px !important;
            text-align: right;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-slider {
        margin-right: 0px;
    }
}