//bs-balanced-fund
.bs-balanced-fund {
    .bf-title {
        font-size: 20px;
        line-height: 22px;
        color: $clr-offbalck;
        font-weight: $font-bold;
        margin-bottom: 5px;
    }
    .bf-meta {
        .meta-val {
            display: inline-block;
            font-size: 14px;
            line-height: 16px;
            text-transform: capitalize;
            color: $clr-black;
            font-weight: 400;
            margin-right: 20px;
            position: relative;
            padding: 0;
            &:after {
                content: '|';
                color: $clr-black;
                font-size: 14px;
                position: absolute;
                right: -14px;
                top: 50%;
                transform: translateY(-50%);
            }
            &:last-child {
                margin-right: 0px;
                &:after {
                    content: none;
                }
            }
        }
    }
    .bf-head {
        background: $clr-white;
        padding: 0px 30px;
        display: block;
        width: 100%;
        border-radius: 5px;
        padding-bottom: 28px;
        .title-wrap,
        .bf-properties,
        .bf-action-wrap {
            display: inline-block;
            vertical-align: middle;
        }
        .title-wrap {
            width: 50%;
            padding-right: 15px;
        }
        .bf-properties {
            width: 33%;
            position: relative;
            .property-wrap {
                text-align: left;
                .porperty-item {
                    display: inline-block;
                    padding: 0;
                    margin-left: 35px;
                    &:first-child {
                        margin-left: 0;
                    }
                    // vertical-align: middle;
                }
                .bs-label-value {
                    text-align: left;
                }
            }
        }
        .bf-action-wrap {
            width: 16%;
            text-align: right;
            button {
                width: 100%;
            }
        }
        &.typ-2 {
            .title-wrap {
                width: 83%;
            }
        }
    }
    .bf-cont {
        display: none;
        padding: 30px;
        background: $clr-white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: 1px solid #e8e8e8;
        .cont-title {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 20px;
            font-weight: $font-medium;
            color: $clr-offbalck;
        }
        .bs-form {
            .form-item {
                margin-bottom: 35px;
                width: 49%;
                padding: 0;
                display: inline-block;
                padding-right: 70px;
                vertical-align: top;
                &.typ-2 {
                    width: 100%;
                }
            }
            .act-wrap {
                text-align: center;
                display: block;
                width: 100%;
                .btn {
                    margin-top: 20px;
                    &.btn-primary {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .bs-label-value {
        .value {
            font-size: 18px;
            line-height: 20px;
            color: $clr-base-dark;
            font-weight: 600;
        }
        .label {
            font-size: 14px;
            line-height: 16px;
            color: $clr-border;
            font-weight: 400;
        }
    }
    .bs-ratings {
        margin-bottom: 2px;
    }
}

// @media only screen and (max-width:768px) {
//     .bs-balanced-fund {
//         .bf-head {
//             .bf-action-wrap {
//                 width: 14%;
//             }
//         }
//     }
// }
@media only screen and (max-width:768px) {
    .bs-balanced-fund {
        .bf-title {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 5px;
        }
        .bf-head {
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 0px;
            border-radius: 0;
            &.typ-2 {
                .title-wrap {
                    width: 100%;
                }
            }
            .title-wrap {
                width: 100%;
                display: block;
                padding: 0;
                margin-bottom: 20px;
            }
            .bf-properties {
                width: 100%;
                padding: 0;
                padding-bottom: 12px;
                display: block;
                overflow: hidden;
                // border-bottom: 1px solid #f8f8f8;
                .property-wrap {
                    overflow: hidden;
                    text-align: left;
                    .porperty-item {
                        float: right;
                        margin-left: 0;
                        &:first-of-type {
                            float: left;
                        }
                    }
                }
                &:after {
                    content: none;
                }
            }
            .bf-action-wrap {
                width: 100%;
                text-align: center;
                padding: 15px 0px 0px;
                button {
                    width: auto;
                }
            }
        }
        .bf-meta {
            .meta-val {
                font-size: 12px;
                line-height: 14px;
            }
        }
        .bs-label-value {
            .value {
                font-size: 16px;
                line-height: 18px;
            }
            .label {
                font-size: 12px;
                line-height: 14px;
            }
        }
        .bf-cont {
            padding: 20px 10px;
            // overflow: initial!important;
            // display: block;
            margin-top: 25px;
            .bs-form {
                .form-item {
                    width: 100%;
                    float: none;
                    margin-bottom: 35px;
                    padding-right: 0px;
                }
                .form-wrap {
                    overflow: initial;
                }
            }
        }
    }
}