// bs-fund-card
.bs-fund-card {
    // padding: 5px 0px 0px;
    .head-wrap {
        overflow: hidden;
        padding: 30px;
        background: $clr-white;
        position: relative;
        .title-wrap {
            display: block;
            margin-bottom: 25px;
            .fund-title {
                font-size: 20px;
                line-height: 24px;
                color: $clr-offbalck;
                font-weight: bold;
                text-transform: capitalize;
                height: auto;
                padding-right: 80px;
            }
            .note {
                font-size: 13px;
                line-height: 15px;
                // color: $clr-base2;
                opacity: 0.7;
                display: inline-block;
            }
            .bs-ratings {
                display: inline-block;
                /* margin-top: 1px; */
                vertical-align: middle;
                margin-top: -3px;
                margin-left: 5px;
            }
        }
        .select-wrap {
            width: 74%;
            display: inline-block;
            vertical-align: bottom;
            .bs-label-value {
                margin-right: 70px;
                float: left;
                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
        .act-wrap {
            width: 25%;
            display: inline-block;
            vertical-align: bottom;
            text-align: right;
            .btn-default,
            .btn-primary {
                display: inline-block;
            }
            .btn-default {
                margin-left: 25px;
            }
            button {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .tag {
            position: absolute;
            top: 30px;
            right: 30px;
            padding: 5px 10px;
            border: 1px solid $clr-border;
            border-radius: 20px;
            font-size: 12px;
            line-height: 12px;
            color: #4f4f4f;
        }
    }
    .cont-wrap {
        overflow: initial!important;
        display: none;
        padding: 30px;
        background: $clr-white;
        border-top: 1px solid #e8e8e8;
        .bs-form {
            opacity: 0;
            transition: opacity 0.5s ease;
            // .form-wrap {
            //     overflow: hidden;
            // }
            .form-item {
                margin-bottom: 25px;
                width: 50%;
                float: left;
                padding: 0;
                display: block;
                padding-right: 100px;
                &.typ-fixhi {
                    min-height: 120px;
                    margin-bottom: 10px;
                }
            }
            .act-wrap {
                text-align: center;
                .btn-default {
                    width: 90px;
                    margin-top: 30px;
                }
            }
        }
    }
}

// @media only screen and (max-width:768px) {
//     .bs-fund-card {
//         .head-wrap {
//             padding-right: 0px;
//             .select-wrap {
//                 padding-left: 15px;
//                 padding-right: 15px;
//                 .bs-label-value {
//                     margin-right: 13px;
//                 }
//             }
//             .title-wrap {
//                 padding: 18px 0px;
//                 margin-bottom: 15px;
//                 .fund-title {
//                     font-size: 16px;
//                     line-height: 18px;
//                 }
//             }
//         }
//     }
// }
@media only screen and (max-width:768px) {
    .bs-fund-card {
        .head-wrap {
            padding: 25px 20px;
            .title-wrap {
                width: 100%;
                border-right: none;
                min-height: auto;
                padding: 0px;
                float: none;
                margin-bottom: 5px;
                .fund-title {
                    font-size: 16px;
                    line-height: 18px;
                    padding-right: 0px;
                }
                .note {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            .select-wrap {
                padding: 15px 0px;
                width: 100%;
                float: none;
                min-height: auto;
                // border-bottom: 1px solid #e5e5e5;
                border-right: none;
                overflow: hidden;
                .bs-label-value {
                    padding: 0px;
                    margin-right: 0;
                    width: 49%;
                    margin-bottom: 15px;
                    min-height: 40px;
                }
            }
            .act-wrap {
                width: 100%;
                float: none;
                text-align: center;
                // padding: 15px 0px;
                min-height: auto;
                .btn-default,
                .btn-secondary {
                    width: 105px;
                    margin-bottom: 0px;
                    display: inline-block;
                }
                .btn-default {
                    margin-right: 10px;
                }
            }
            .tag {
                display: none;
            }
        }
        .cont-wrap {
            padding: 20px 15px;
            .bs-form {
                .form-item {
                    width: 100%;
                    float: none;
                    margin-bottom: 35px;
                    padding-right: 0px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    &.typ-fixhi {
                        min-height: auto;
                        margin-bottom: 35px;
                    }
                }
                .act-wrap {
                    margin-top: 40px;
                    .btn-default {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}