//bs-calculator
.bs-calculator {
    .invest-cal {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        .form-group {
            margin-bottom: 40px;
            label {
                font-size: 12px;
                line-height: 14px;
                color: #b3b3b3;
                font-weight: $font-regular;
                margin-right: 28px;
                vertical-align: bottom;
                display: inline-block;
                width: 31%;
                text-transform: uppercase;
            }
            input {
                background: none;
                border: none;
                border-bottom: 1px solid #b3b3b3;
                position: relative;
                width: 45%;
                font-size: 24px;
                display: inline-block;
                color: $clr-white;
                &:focus {
                    outline: none;
                }
            }
            .symbol {
                font-size: 12px;
                vertical-align: bottom;
                line-height: 12px;
            }
        }
        margin-bottom: 20px;
    }
    .invest-graph {
        margin-left: 50px;
        width: 54%;
        display: inline-block;
        vertical-align: top;
        background-color: #174573;
        border-radius: 10px;
        padding: 30px 25px;
        min-height: 350px;
        .title {
            text-align: center;
            font-size: 21px;
            line-height: 24px;
        }
        .list {
            .item {
                width: 49%;
                display: inline-block;
                text-align: center;
                border-right: 1px dotted #75818c;
                padding: 30px 10px 0px;
                &:last-child {
                    border: 0px;
                }
                .amount {
                    font-size: 24px;
                    line-height: 26px;
                    color: $clr-border;
                    font-weight: $font-bold;
                    margin-bottom: 15px;
                    display: block;
                }
                .img-wrap {
                    width: 90px;
                    margin: 0px auto 15px;
                    img {
                        width: 100%;
                    }
                }
                .text {
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: $font-light;
                    color: $clr-border;
                    text-transform: uppercase;
                }
            }
        }
    }
    .btn-wrap {
        display: block;
        // margin-top: 50px;
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-calculator {
        .invest-cal {
            width: 100%;
            .form-group {
                margin-bottom: 20px;
                // padding: 0px 10px;
                label {
                    width: 37%;
                    margin-right: 0px;
                }
                input {
                    width: 56%;
                }
            }
        }
        .invest-graph {
            width: 100%;
            margin-left: 0px;
            min-height: 220px;
            .list {
                .item {
                    .amount {
                        font-size: 14px;
                        line-height: 16px;
                    }
                    .img-wrap {
                        width: 60px;
                    }
                    .text {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
        .btn-wrap {
            text-align: center;
            margin-top: 25px;
        }
    }
}