//bs-detail
.bs-detail {
    padding: 0px 40px;
    .title {
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 35px;
        font-weight: $font-bold;
        color: $clr-black;
    }
    .detail-list {
        .list {
            overflow: hidden;
        }
        .list-item {
            width: 25%;
            float: left;
            vertical-align: top;
            margin-bottom: 40px;
            .label {
                display: block;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 5px;
                font-weight: $font-regular;
                color: $clr-base-light;
            }
            .data {
                font-size: 18px;
                line-height: 20px;
                color: #053769;
                font-weight: $font-bold;
                display: block;
            }
            .note {
                font-size: 12px;
                line-height: 14px;
                display: block;
                color: $clr-black;
            }
            &.no-margin {
                margin-bottom: 0px;
            }
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-detail {
        padding: 0px 10px;
        .title {
            font-size: 17px;
            line-height: 20px;
            margin-bottom: 25px;
        }
        .detail-list {
            .list-item {
                width: 49%;
                margin-bottom: 20px;
                .label {
                    font-size: 12px;
                    line-height: 14px;
                }
                .data {
                    font-size: 14px;
                    line-height: 16px;
                }
                &.no-margin {
                    margin-bottom: 20px;
                }
            }
        }
    }
}