//bs-view
.bs-view {
    padding-bottom: 10px;
    .account-wrap {
        background: #f6f6f6;
        padding: 20px 30px;
        display: block;
        .fund-name {
            font-size: 18px;
            line-height: 20px;
            color: $clr-offbalck;
            font-weight: $font-bold;
            width: 70%;
            vertical-align: middle;
            display: inline-block;
        }
        .account-number {
            font-size: 16px;
            line-height: 18px;
            color: $clr-offbalck;
            font-weight: $font-bold;
            width: 29%;
            vertical-align: middle;
            text-align: right;
            display: inline-block;
        }
    }
    .detail-wrap {
        padding: 20px 30px 30px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .bs-label-value {
            padding-bottom: 25px;
            width: 50%;
            ;
            .label,
            .value {
                display: inline-block;
                font-size: 16px;
                line-height: 18px;
            }
            .label {
                margin-bottom: 0px;
                width: 70%;
                display: inline-block;
            }
            .value {
                width: 29%;
                display: inline-block;
                text-align: right;
                font-weight: $font-bold;
            }
            &.last {
                padding-bottom: 0px;
            }
            &:nth-child(even) {
                padding-left: 30px;
            }
            &:nth-child(odd) {
                padding-right: 30px;
                border-right: 1px solid #cccccc;
            }
        }
    }
    .act-wrap {
        margin: 10px 0px 20px;
        text-align: center;
    }
}

@media only screen and (max-width:768px) {
    .bs-view {
        .account-wrap {
            padding: 15px;
            .fund-name {
                font-size: 12px;
                line-height: 14px;
                width: 69%;
            }
            .account-number {
                font-size: 12px;
                line-height: 14px;
            }
        }
        .detail-wrap {
            padding: 15px;
            .bs-label-value {
                padding-bottom: 15px;
                .label {
                    width: 100%;
                    font-size: 12px;
                    line-height: 14px;
                }
                .value {
                    width: 100%;
                    text-align: left;
                    font-size: 14px;
                    line-height: 16px;
                }
                &:nth-child(even) {
                    padding-left: 30px;
                }
                &:nth-child(odd) {
                    padding-right: 0px;
                    border-right: 0px;
                }
                &.last {
                    padding-bottom: 15px;
                }
            }
        }
    }
}