//bs-step-list
.bs-step-list {
    .list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0 0 40px;
        list-style: none;
    }
    .list-item {
        width: 48%;
        margin-right: 25px;
        margin-bottom: 15px;
        padding: 25px 30px;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        -moz-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        border-radius: 10px;
        &.no-margin {
            margin-right: 0px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
        .bs-icon-info {
            .info-wrap {
                .title {
                    color: $clr-black;
                    font-weight: $font-bold;
                }
                p {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .icon-wrap {
                .icon {
                    height: 72px;
                }
            }
        }
    }
    .btn-wrap {
        text-align: center;
        margin-bottom: 15px;
        .btn {
            text-transform: initial;
        }
    }
    .extra-note {
        font-size: 12px;
        line-height: 16px;
        color: $clr-base-light;
        font-weight: $font-regular;
        text-align: center;
        display: block;
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-step-list {
        .list {
            display: block;
        }
        .list-item {
            width: 100%;
            padding: 20px 15px;
            .bs-icon-info {
                .info-wrap {
                    .title {
                        font-size: 16px;
                        line-height: 18px;
                    }
                    p {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}