//bs-form
.bs-form {
    .form-control,
    input[type=text] {
        width: 100%;
        background: transparent;
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid $clr-border;
        height: 25px;
        padding: 0px;
        font-size: 18px;
        line-height: 20px;
        color: $clr-base-dark;
        font-weight: $font-bold;
        &:focus,
        &:active {
            outline: none;
            box-shadow: none;
        }
    }
    .field-label {
        font-size: 14px;
        line-height: 16px;
        color: #999999;
        text-transform: capitalize;
        display: block;
        margin-bottom: 10px;
    }
    .field-note {
        font-size: 12px;
        line-height: 14px;
        color: $clr-border;
        &.error {
            color: $clr-primary;
        }
    }
    .form-title {
        font-size: 14px;
        line-height: 16px;
        color: #737373;
        font-weight: 400;
        height: auto;
        padding-bottom: 0;
    }
    .form-head {
        margin-bottom: 30px;
    }
    .form-group {
        // margin-bottom: 30px;
        position: relative;
        &.typ-note {
            position: relative;
            .field-note {
                position: absolute;
                bottom: -20px;
                right: 0;
            }
        }
        &.typ-amt {
            position: relative;
            .form-control {
                padding-left: 20px;
            }
            &:before {
                content: "";
                position: absolute;
                left: 2px;
                bottom: 7px;
                background: url(../images/ruppee-blue.png) no-repeat 0px 0px transparent;
                background-size: contain;
                width: 9px;
                height: 13px;
                display: inline-block;
                z-index: 1;
            }
        }
        .calender {
            position: absolute;
            bottom: 5px;
            right: 5px;
            width: 17px;
            height: 15px;
            background: url('../images/common/icon-calender.png') no-repeat 0px 0px transparent;
            background-size: cover;
            display: block;
        }
        .data {
            z-index: 1;
            cursor: pointer;
            position: relative;
        }
    }
    .input-group {
        position: relative;
        border-bottom: 1px solid $clr-border;
        height: 25px;
        padding: 0 50px 0 10px;
        width: 100%;
        .form-control {
            border: none;
            padding: 0;
        }
        .btn-addon {
            cursor: pointer;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 50px;
            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
            }
            .icon-cal {
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: url('../images/cal.png')no-repeat 0 0 transparent;
                background-size: cover;
            }
            .icon-down {
                width: 15px;
                height: 16px;
                display: block;
                position: absolute;
                right: 8px;
                bottom: 5px;
                transform: rotate(90deg);
                background: url('../images/next.png')no-repeat 0 0 transparent;
                background-size: cover;
            }
        }
        &.typ-date {
            padding: 0px 0px 0px 10px;
            .form-control {
                position: relative;
                z-index: 1;
                cursor: pointer;
            }
            .btn-addon {
                z-index: 0;
            }
        }
    }
    .form-cont-wrap {
        .form-cont-item {
            margin-bottom: 25px;
        }
    }
    .form-foot {
        text-align: center;
        button {
            min-width: 100px;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .radio-wrap {
        margin-top: 15px;
        .radio {
            display: inline-block;
            margin-right: 70px;
            input[type=radio]:not(old) {
                width: auto;
                margin: 0;
                padding: 0;
                opacity: 0;
            }
            input[type=radio]:not(old)+label {
                display: inline-block;
                font-size: 18px;
                line-height: 20px;
                font-weight: $font-regular;
                color: $clr-border;
                padding-left: 14px;
                position: relative;
                cursor: pointer;
                &:before {
                    content: '';
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    border: 1px solid $clr-primary;
                    left: -16px;
                    top: 0;
                    border-radius: 50%;
                }
            }
            input[type=radio]:not(old):checked+label {
                transition: all 0.5 ease;
                color: $clr-black;
                &:after {
                    content: '';
                    position: absolute;
                    width: 9px;
                    height: 9px;
                    background: $clr-primary;
                    left: -12px;
                    top: 4px;
                    border-radius: 50%;
                }
            }
        }
    }
    .form-wrap {
        // overflow: hidden;
        .form-item {
            &.typ-fixhi {
                min-height: 120px;
                margin-bottom: 10px;
                .amount-wrap {
                    .bs-radio {
                        &.typ-amt {
                            display: inline-block;
                            margin-top: 25px;
                            margin-right: 10px
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .form-control,
    input[type=text] {
        font-size: 18px;
        line-height: 20px;
        height: 39px;
        box-shadow: none;
        outline: none;
        -webkit-appearance: none;
    }
    .input-group {
        .btn-addon {
            width: 35px;
            .icon-down {
                width: 12px;
                height: 6px;
            }
        }
    }
    .bs-form {
        .radio-wrap {
            .radio {
                margin-right: 0px;
                width: 49%;
                display: inline-block;
                input[type=radio]:not(old)+label {
                    font-size: 13px;
                    line-height: 16px;
                    &:before {
                        top: -1px;
                    }
                }
                input[type=radio]:not(old):checked+label {
                    transition: all 0.5 ease;
                    color: $clr-black;
                    &:after {
                        top: 3px;
                    }
                }
            }
        }
        .form-wrap {
            .form-item {
                &.typ-fixhi {
                    min-height: auto;
                    margin-bottom: 35px;
                }
            }
        }
    }
}