//bs-ratings
.bs-ratings {
    span {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 1px;
        background: url('../images/star-sprite.png')no-repeat 0 0 transparent;
        &:last-child {
            margin-right: 0;
        }
    }
    &.rate1 {
        span {
            &:first-child {
                background-position: 0 -35px;
            }
        }
    }
    &.rate2 {
        span {
            &:first-child,
            &:nth-child(2) {
                background-position: 0 -35px;
            }
        }
    }
    &.rate3 {
        span {
            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
                background-position: 0 -35px;
            }
        }
    }
    &.rate4 {
        span {
            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                background-position: 0 -35px;
            }
        }
    }
    &.rate5 {
        span {
            background-position: 0 -35px;
        }
    }
}