//bs-investor
.bs-investor {
    padding: 30px 30px 15px;
    overflow: hidden;
    .img-wrap {
        width: 45px;
        margin-bottom: 15px;
    }
    .lhs {
        width: 55%;
        padding-right: 25px;
        float: left;
        .title {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        .list {
            list-style: disc;
            padding-left: 14px;
            margin-bottom: 40px;
            .item {
                font-size: 13px;
                line-height: 15px;
                margin-bottom: 10px;
                color: #999999;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        .profile {
            .profile-title {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 20px;
                color: $clr-offbalck;
                font-weight: $font-bold;
            }
            .tag-list {
                .radio {
                    margin-right: 15px;
                    display: inline-block;
                    &:focus {
                        outline: 0px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                    input[type=radio]:not(old) {
                        margin: 0;
                        padding: 0;
                        opacity: 0;
                        position: absolute;
                    }
                    input[type=radio]:not(old)+label {
                        display: inline-block;
                        background: #f2f5f7;
                        padding: 10px 18px;
                        border-radius: 20px;
                        font-size: 13px;
                        line-height: 16px;
                        color: $clr-base-dark;
                        font-weight: $font-regular;
                        cursor: pointer;
                        transition: all 0.5s ease;
                    }
                    input[type=radio]:not(old):checked+label {
                        background: $clr-base-dark;
                        color: #f2f5f7;
                    }
                }
            }
        }
    }
    .rhs {
        width: 45%;
        float: right;
        padding-left: 25px;
        border-left: 1px solid #cccccc;
        .allocation-bar {
            .title {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 20px;
                color: $clr-offbalck;
                font-weight: $font-regular;
            }
            .progress-bar {
                padding-top: 20px;
                position: relative;
                overflow: hidden;
                margin-bottom: 40px;
                .count {
                    font-weight: $font-bold;
                    margin-left: 5px;
                    font-size: 18px;
                    line-height: 20px;
                }
                .start-point {
                    font-size: 14px;
                    line-height: 16px;
                    float: left;
                    color: $clr-secondary;
                }
                .end-point {
                    font-size: 14px;
                    line-height: 16px;
                    float: right;
                    color: $clr-base-dark;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    height: 8px;
                    width: 100%;
                    background: $clr-base-dark;
                    border-radius: 10px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    height: 8px;
                    width: 60%;
                    left: 0px;
                    background: $clr-secondary;
                    border-radius: 10px;
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                }
            }
            .allocation-detail {
                .bar {
                    padding-top: 10px;
                    margin-bottom: 10px;
                    .prograss-bar {
                        position: relative;
                        background: $clr-border;
                        width: 100%;
                        height: 5px;
                        border-radius: 10px;
                        display: block;
                        margin-bottom: 5px;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            background: $clr-primary;
                            height: 5px;
                            width: 60%;
                            border-radius: 10px;
                            border-bottom-right-radius: 0px;
                            border-top-right-radius: 0px;
                        }
                    }
                    .text {
                        font-size: 12px;
                        line-height: 14px;
                        color: $clr-primary;
                        font-weight: $font-regular;
                        text-transform: uppercase;
                        .count {
                            font-weight: $font-bold;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .btn-wrap {
            text-align: center;
            margin-top: 40px;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-investor {
        padding: 15px;
        .lhs {
            width: 100%;
            float: none;
            border: none;
            padding-right: 0px;
            margin-bottom: 30px;
            .img-wrap {
                width: 40px;
            }
            .title {
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 20px;
            }
            .list {
                .item {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
            .profile {
                .profile-title {
                    font-size: 16px;
                    line-height: 20px;
                }
                .tag-list {
                    .radio {
                        margin-right: 10px;
                        margin-bottom: 10px;
                        input[type=radio]:not(old)+label {
                            font-size: 12px;
                            line-height: 14px;
                            padding: 10px 15px;
                        }
                        &.no-margin {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
        .rhs {
            width: 100%;
            float: none;
            padding-left: 0px;
            border: none;
            .allocation-bar {
                .title {
                    font-size: 16px;
                    line-height: 18px;
                }
                .progress-bar {
                    padding-top: 13px;
                    .start-point,
                    .end-point {
                        padding-top: 15px;
                        position: relative;
                        font-size: 12px;
                        line-height: 14px;
                        .count {
                            position: absolute;
                            top: 0px;
                            margin-left: 0px;
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                    .start-point {
                        .count {
                            left: 0;
                        }
                    }
                    .end-point {
                        .count {
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}