// bs-risk-profile

.bs-risk-profile {
    overflow: hidden;
    .left-wrap,
    .right-wrap {
        width: 50%;
        float: left;
        min-height: 35rem;
        max-height: 35rem;
    }
    .left-wrap {
        padding-right: 3rem;
    }
    .right-wrap {
        padding-left: 3rem;
        padding-top: 1.5rem;
        position: relative;
        .btn-default {
            position: absolute;
            left: 3rem;
            bottom: 0.5rem;
        }
    }
    .selection-list {
        padding: 0.5rem;
        .risk-item {
            margin-bottom: 1.5rem;
            border-radius: 0.5rem;
            box-shadow: 0px 0px 5px #e5e5e5;
            background-color: $clr-white;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            &.active {
                background-color: $clr-base-dark;
                .mod-risk {
                    .bs-icon-info {
                        border-right-color: #2f577f;
                        .title {
                            color: $clr-white;
                        }
                    }
                    .label,
                    .value {
                        color: $clr-white;
                    }
                }
            }
            .mod-risk {
                overflow: hidden;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .risk-details {
        .head-wrap {
            margin-bottom: 1.8rem;
        }
        .info {
            font-size: 1.6rem;
            line-height: 2rem;
            color: $clr-offbalck;
            margin-bottom: 0.3rem;
            display: block;
        }
        .note {
            font-size: 1.4rem;
            line-height: 1.8rem;
            color: $clr-base-light;
        }
        .cont-wrap {
            .desc {
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: $clr-base-light;
                margin-bottom: 1.8rem;
            }
            .graph-wrap {
                overflow: hidden;
                .img-wrap {
                    width: 9.5rem;
                    margin-bottom: 1.5rem;
                    img {
                        width: 100%;
                    }
                }
                .label-value {
                    display: inline-block;
                    margin-right: 1rem;
                    .label,
                    .value {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                    }
                    .label {
                        color: $clr-base-dark;
                        &.equity {
                            color: #df821b;
                        }
                    }
                    .value {
                        font-weight: $font-bold;
                        color: $clr-black;
                        margin-left: 0.3rem;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-risk-profile {
        .left-wrap,
        .right-wrap {
            min-height: initial;
            max-height: initial;
            float: none;
            width: 100%;
        }
        .left-wrap {
            padding-right: 0;
            margin-bottom: 2rem;
        }
        .right-wrap {
            padding-left: 0;
            padding-top: 0;
            text-align: center;
            .risk-details {
                margin-bottom: 3.5rem;
                text-align: left;
                .info {
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                }
                .note {
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                }
                .cont-wrap {
                    .desc {
                        font-size: 1.3rem;
                        line-height: 1.7rem;
                    }
                    .graph-wrap {
                        .img-wrap {
                            width: 8.5rem;
                        }
                    }
                }
            }
            .btn-default {
                position: relative;
                left: auto;
                bottom: auto;
                text-align: center;
            }
        }
    }
}