//bs-sip-detail
.bs-sip-detail {
    margin-top: 40px;
    padding: 0px 40px;
    text-align: left;
    .form-group {
        position: relative;
        padding-top: 15px;
        label {
            position: absolute;
            font-size: 14px;
            line-height: 16px;
            top: 0px;
            color: $clr-base-light;
            font-weight: $font-regular;
        }
        .form-control {
            border: 0px;
            border-bottom: 1px solid $clr-border;
            width: 80%;
            font-size: 18px;
            line-height: 20px;
            color: $clr-base-dark;
            padding: 10px 15px 5px;
            position: relative;
            &:focus {
                outline: 0px;
            }
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 27px;
            background: url('../images/ruppee-blue.png')no-repeat 0px 0px transparent;
            background-size: cover;
            width: 10px;
            height: 15px;
            display: inline-block;
            z-index: 10;
        }
    }
    .radio-wrap {
        .heading {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 15px;
            color: $clr-black;
            font-weight: $font-regular;
            display: block;
        }
        .radio {
            display: inline-block;
            margin-right: 10px;
            position: relative;
            input[type=radio]:not(old) {
                position: absolute;
                left: -9999px;
            }
            input[type=radio]:not(old)+label {
                font-size: 14px;
                line-height: 16px;
                font-weight: $font-bold;
                color: $clr-border;
                border: 2px solid $clr-border;
                padding: 5px 10px;
                border-radius: 15px;
                cursor: pointer;
            }
            .text {
                position: absolute;
                font-size: 10px;
                left: 10px;
                bottom: -21px;
                color: $clr-secondary;
            }
            input[type=radio]:not(old):checked+label {
                color: $clr-base-dark;
                border: 2px solid $clr-base-dark;
            }
        }
        &.typ-2 {
            .radio {
                input[type=radio]:not(old)+label {
                    border-radius: 50%;
                    height: 52px;
                    display: inline-block;
                    padding-top: 17px;
                    width: 52px;
                    text-align: center;
                }
            }
        }
    }
    .graph-detail {
        .graph-title {
            font-size: 14px;
            line-height: 16px;
            color: $clr-black;
            font-weight: $font-regular;
            margin-bottom: 10px;
            display: block;
        }
        .graph {
            margin-top: 20px;
            display: none;
            .img-wrap {
                width: 100px;
                height: 60px;
                display: inline-block;
                margin-right: 20px;
                img {
                    width: 100%;
                }
            }
            .info-wrap {
                display: inline-block;
                vertical-align: top;
                width: 47%;
                .info {
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: $font-regular;
                    margin-bottom: 8px;
                    color: $clr-black;
                }
                .amount {
                    font-size: 16px;
                    line-height: 18px;
                    color: $clr-base-dark;
                    font-weight: $font-bold;
                    .x-info {
                        font-size: 12px;
                        line-height: 12px;
                        color: $clr-border;
                    }
                }
                .note {
                    font-size: 12px;
                    line-height: 12px;
                    color: $clr-offbalck;
                    margin-top: 5px;
                    display: block;
                }
            }
            &.active {
                display: block;
            }
        }
    }
    .action-button {
        text-align: center;
        border-top: 1px solid $clr-border;
        .btn {
            padding: 20px 0px;
            background: transparent;
            color: $clr-primary;
            text-transform: capitalize;
            font-size: 12px;
            line-height: 14px;
        }
    }
    .fund-list {
        background: #fbfbfb;
        display: none;
        max-height: 370px;
        overflow-y: auto;
        .f-list {
            padding: 30px 15px;
        }
        .item {
            width: 29.50%;
            margin-right: 20px;
            display: inline-block;
            // padding: 10px;
            margin-bottom: 15px;
            &.last {
                margin: 0px;
            }
            input[type=radio]:not(old) {
                position: absolute;
                left: -9999px;
            }
            .mod-fund {
                width: 80%;
                margin: 0px;
                text-align: left;
                padding-bottom: 0px;
                .fund-title {
                    padding-left: 30px;
                }
                .fund-subtitle {
                    padding-left: 30px;
                }
                .list-item {
                    &.border {
                        padding-left: 10px;
                    }
                }
                .btn-link {
                    font-size: 12px;
                    line-height: 14px;
                }
                .list {
                    &.single {
                        .list-item {
                            text-align: left;
                        }
                    }
                }
            }
        }
        label {
            position: relative;
            cursor: pointer;
            display: block;
            padding: 10px;
            border: 1px solid $clr-border;
            border-radius: 5px;
            &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border: 1px solid $clr-offbalck;
                left: 10px;
                top: 10px;
                border-radius: 50%;
            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: $clr-offbalck;
                left: 15px;
                top: 15px;
                // right: 0px;
                // margin: 0px auto;
                border-radius: 50%;
                opacity: 0;
                transition: all 0.5s ease-in;
            }
        }
        input[type=radio]:not(old):checked+label {
            border-color: $clr-primary;
            &:after {
                opacity: 1;
            }
        }
        &.active {
            display: block;
        }
    }
    &.typ-funds {
        padding: 0px;
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-sip-detail {
        margin-top: 25px;
        padding: 0px 15px;
        .col-2 {
            width: 100%;
            margin-bottom: 10px;
        }
        .form-group {
            margin-bottom: 30px;
            .form-control {
                width: 100%;
            }
        }
        .fund-list {
            max-height: 459px;
            overflow-y: auto;
            overflow-x: hidden;
            .f-list {
                padding: 20px 15px;
            }
            .item {
                width: 100%;
                .mod-fund {
                    width: 100%;
                    padding-right: 0px;
                    .fund-title {
                        padding-left: 15px;
                        margin-bottom: 5px;
                    }
                    .fund-subtitle {
                        padding-left: 15px;
                    }
                    .list-item {
                        .input-group {
                            .edit-link {
                                right: 25px;
                            }
                        }
                    }
                }
                &.last {
                    margin-bottom: 15px;
                }
            }
        }
        .radio-wrap {
            .radio {
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
        .graph-detail {
            .graph {
                .info-wrap {
                    width: 60%;
                    .info {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}