.bs-invest-swiper {
    .swiper-container {
        height: 437px;
        padding: 20px 0px 0px;
    }
    .swiper-pagination-bullet-active {
        background: $clr-secondary;
    }
    .swiper-container-vertical>.swiper-pagination-bullets {
        right: 0px;
    }
    .swiper-pagination {
        .text {
            position: absolute;
            text-align: right;
            font-size: 11px;
            line-height: 12px;
            display: none;
            color: $clr-secondary;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            min-width: 100px;
        }
        .swiper-pagination-bullet-active {
            .text {
                display: block;
            }
        }
        .swiper-pagination-bullet {
            position: relative;
            transition: all 0.5s ease;
        }
    }
    .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
        margin-bottom: 20px;
    }
}

.swiper-overlay-next,
.swiper-overlay-prev {
    position: absolute;
    z-index: 2;
    top: 50%;
}

.swiper-overlay-prev {
    left: -11%;
    right: auto;
    .swiper-button-prev {
        cursor: pointer;
        width: 10px;
        height: 22px;
        background: url('../images/common/left-arrow.png') 0 0 no-repeat;
        background-size: cover;
    }
}

.swiper-overlay-next {
    right: -11%;
    left: auto;
    // display: none;
    .swiper-button-next {
        cursor: pointer;
        width: 10px;
        height: 22px;
        background: url('../images/common/right-arrow.png') 0 0 no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-invest-swiper {
        .swiper-container {
            height: auto;
        }
        .swiper-wrapper {
            display: block;
        }
    }
    .swiper-overlay-prev {
        left: 0px;
    }
    .swiper-overlay-next {
        right: 0px;
    }
}