// bs-fund-list
.bs-fund-list {
    margin-bottom: 30px;
    .fund-head {
        padding: 30px;
        background: $clr-white;
        border-radius: 5px;
        margin-bottom: 40px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        -moz-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        .left-wrap,
        .right-wrap {
            width: 50%;
            float: left;
        }
        .left-wrap {
            .amount-wrap {
                margin: 0 auto;
                .bs-radio {
                    float: left;
                    margin-right: 20px;
                }
            }
            .form-group {
                margin-bottom: 30px;
                position: relative;
                .form-control {
                    font-size: 18px;
                    line-height: 20px;
                    color: $clr-base-dark;
                    background: #ffffff;
                    font-weight: bold;
                    height: 24px;
                    border: 0px;
                    border-bottom: 1px solid $clr-border;
                    padding-left: 15px;
                    // padding-bottom: 5px;
                    width: 80%;
                    &:focus {
                        outline: none;
                    }
                }
                .form-label {
                    margin-bottom: 5px;
                    display: block;
                    color: $clr-border;
                    text-transform: capitalize;
                    font-size: 14px;
                    line-height: 16px;
                }
                .icon-rupee {
                    position: absolute;
                    bottom: 3px;
                    color: $clr-base-dark;
                    font-weight: bold;
                    font-size: 16px;
                    opacity: 0.7;
                }
            }
        }
        .right-wrap {
            padding-left: 50px;
            border-left: 1px solid #cccccc;
            .allocation-bar {
                .form-group {
                    .field-label {
                        display: inline-block;
                        font-size: 14px;
                        line-height: 16px;
                        color: $clr-border;
                        margin-right: 30px;
                    }
                    .radio-wrap {
                        display: inline-block;
                        margin-bottom: 20px;
                        .radio {
                            display: inline-block;
                            margin-right: 50px;
                            &:last-child {
                                margin-right: 0px;
                            }
                            input[type=radio]:not(old) {
                                position: absolute;
                                left: -9999px;
                                &+label {
                                    font-size: 12px;
                                    line-height: 14px;
                                    font-weight: $font-regular;
                                    color: $clr-border;
                                    cursor: pointer;
                                    padding-left: 20px;
                                    position: relative;
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        width: 15px;
                                        height: 15px;
                                        border: 1px solid $clr-primary;
                                        left: -2px;
                                        top: -1px;
                                        border-radius: 50%;
                                        transition: all 0.5s ease;
                                    }
                                }
                                &:checked {
                                    &+label {
                                        color: $clr-offbalck;
                                        &:after {
                                            content: "";
                                            position: absolute;
                                            width: 7px;
                                            height: 7px;
                                            background: $clr-primary;
                                            left: 2px;
                                            top: 3px;
                                            border-radius: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .title {
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 20px;
                    color: #333333;
                    font-weight: 700;
                    position: relative;
                    .icon-toltip {
                        position: absolute;
                        background: url('../images/tooltip.png') no-repeat 0px 0px transparent;
                        background-size: cover;
                        width: 12px;
                        height: 12px;
                        margin-left: 4px;
                        top: -1px;
                        cursor: pointer;
                        .tooltiptext {
                            visibility: hidden;
                            width: 200px;
                            color: $clr-offbalck;
                            text-align: left;
                            border-radius: 6px;
                            padding: 10px;
                            position: absolute;
                            z-index: 1;
                            top: -55px;
                            left: 20px;
                            font-size: 12px;
                            line-height: 14px;
                            font-weight: $font-regular;
                            -webkit-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
                            -moz-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
                            box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
                            border-radius: 10px;
                            background: $clr-white;
                        }
                        &:hover {
                            .tooltiptext {
                                visibility: visible;
                            }
                        }
                    }
                }
                .progress-bar {
                    padding-top: 20px;
                    position: relative;
                    overflow: hidden;
                    // margin-bottom: 40px;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        height: 8px;
                        width: 100%;
                        background: $clr-base-dark;
                        border-radius: 10px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0px;
                        height: 8px;
                        width: 60%;
                        left: 0px;
                        background: $clr-secondary;
                        border-radius: 10px;
                        border-bottom-right-radius: 0px;
                        border-top-right-radius: 0px;
                    }
                    .start-point {
                        font-size: 14px;
                        line-height: 16px;
                        float: left;
                        color: $clr-secondary;
                    }
                    .end-point {
                        font-size: 14px;
                        line-height: 16px;
                        float: right;
                        color: $clr-base-dark;
                    }
                    .count {
                        font-weight: $font-bold;
                        margin-left: 5px;
                        font-size: 18px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    .card-list {
        margin-bottom: 40px;
        .card-item {
            margin-bottom: 12px;
            box-shadow: 0px 0px 5px #cecece;
            border-radius: 5px;
            padding: 0;
        }
    }
    .extra-note {
        display: block;
        text-align: center;
        margin-bottom: 30px;
        .page-link {
            color: $clr-primary;
            cursor: pointer;
        }
    }
    .btn-wrap {
        text-align: center;
        display: block;
    }
    .emp-code {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
        .form-control {
            width: 320px;
            padding: 10px;
            font-size: 15px;
            line-height: 17px;
            border-radius: 10px;
            border: 1px solid $clr-border;
            color: $clr-offbalck;
        }
    }
}

@media only screen and (max-width:767px) {
    .bs-fund-list {
        .fund-head {
            padding: 20px;
            // border-radius: 0px;
            .left-wrap,
            .right-wrap {
                width: 100%;
                float: none;
                padding: 0;
            }
            .left-wrap {
                margin-bottom: 0px;
                border-right: none;
                .form-group {
                    width: 100%;
                    margin-bottom: 15px;
                    .form-control {
                        width: 100%;
                    }
                    .form-label {
                        font-size: 12px;
                        line-height: 14px;
                    }
                    .icon-rupee {
                        bottom: 4px;
                        top: auto;
                        font-size: 15px;
                        line-height: 17px;
                    }
                }
                .amount-wrap {
                    width: 100%;
                    // overflow: hidden;
                    .bs-radio {
                        float: none;
                        display: inline-block;
                        margin-right: 10px;
                        margin-bottom: 15px;
                    }
                }
            }
            .right-wrap {
                border-left: 0px;
                .allocation-bar {
                    width: 100%;
                    padding-top: 20px;
                    .form-group {
                        .field-label {
                            display: block;
                            margin-bottom: 10px;
                        }
                        .radio-wrap {}
                    }
                    .equity,
                    .debt {
                        .amount {
                            font-size: 12px;
                        }
                        .text {
                            font-size: 10px;
                        }
                    }
                    .fill-wrap {
                        height: 6px;
                    }
                    .title {
                        padding-top: 20px;
                        border-top: 1px solid #cccccc;
                        .icon-toltip {
                            top: 20px;
                            .tooltiptext {
                                top: 18px;
                                left: -182px;
                            }
                        }
                    }
                    .progress-bar {
                        padding-top: 13px;
                        .start-point,
                        .end-point {
                            padding-top: 15px;
                            position: relative;
                            font-size: 12px;
                            line-height: 14px;
                            .count {
                                position: absolute;
                                top: 0px;
                                margin-left: 0px;
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }
                        .start-point {
                            .count {
                                left: 0;
                            }
                        }
                        .end-point {
                            .count {
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}