//bs-profile
.bs-profile {
    .profile-highlight {
        padding: 20px 40px;
        background-color: #f5f5f5;
        display: block;
        position: relative;
        .icon-wrap {
            display: inline-block;
            vertical-align: middle;
            .icon-profile {
                background: url('../images/profile.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 55px;
                height: 55px;
                display: inline-block;
            }
        }
        .title {
            font-size: 20px;
            line-height: 22px;
            color: $clr-offbalck;
            font-weight: $font-bold;
            display: inline-block;
            vertical-align: middle;
            padding-left: 15px;
        }
        .account-info {
            font-size: 16px;
            line-height: 18px;
            font-weight: $font-regular;
            float: right;
            padding-right: 50px;
            margin-top: 20px;
        }
        .close-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-59%);
            right: 43px;
            width: 12px;
            height: 12px;
            cursor: pointer;
            padding: 0;
            background: url("../images/close.svg") center center no-repeat;
            background-size: cover;
        }
    }
    .sub-profile {
        padding: 0px 45px;
        display: block;
        border-bottom: 1px solid #cccccc;
    }
    .profile-nav {
        .nav-item {
            border-bottom: 1px solid #cccccc;
            &:last-child {
                border-bottom: 0px;
            }
            .nav-link {
                padding: 15px 45px;
                display: block;
                position: relative;
                font-size: 16px;
                line-height: 18px;
                text-transform: capitalize;
                color: $clr-offbalck;
                font-weight: $font-bold;
                &:before {
                    content: '';
                    position: absolute;
                    right: 45px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 6px;
                    height: 11px;
                    background: url('../images/black-arrow.png') no-repeat 0px 0px transparent;
                    background-size: cover;
                    display: block;
                }
            }
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-profile {
        .profile-highlight {
            padding: 10px 15px 17px;
            .icon-wrap {
                .icon-profile {
                    width: 44px;
                    height: 44px;
                }
            }
            .title {
                font-size: 16px;
                line-height: 18px;
                vertical-align: text-bottom;
            }
            .account-info {
                float: none;
                font-size: 12px;
                line-height: 14px;
                margin: 0px;
                position: absolute;
                left: 75px;
                bottom: 18px;
                padding-left: 0px;
            }
            .close-btn {
                top: 20px;
                right: 20px;
                transform: none;
            }
        }
        .sub-profile {
            padding: 0px;
        }
        .profile-nav {
            .nav-item {
                .nav-link {
                    padding: 15px;
                    font-size: 13px;
                    line-height: 15px;
                    &:before {
                        right: 20px;
                    }
                }
            }
        }
    }
}