// bs-tabs
.bs-tabs {
    .tab-head {
        margin-bottom: 3rem;
    }
    .tab-list {
        &.col-3 {
            .tab-item {
                width: 33.33%;
            }
        }
        &.col-2 {
            .tab-item {
                width: 50%;
            }
        }
        &:before,
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }
    .tab-item {
        float: left;
        cursor: pointer;
        color: rgba($color: $clr-offbalck, $alpha: 0.5);
        display: block;
        text-align: center;
        padding: 1rem 1.5rem;
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 2.2rem;
        border-bottom: 1px solid #999999;
        position: relative;
        transition: color 0.5s ease-in-out;
        font-weight: $font-bold;
        &:before {
            content: '';
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            opacity: 0;
            background-color: $clr-black;
            transition: opacity 0.5s ease-in-out;
            bottom: -2px;
        }
        &.active {
            color: rgba($color: $clr-offbalck, $alpha: 1);
            &:before {
                opacity: 1;
            }
        }
    }
    &.typ-2 {
        .tab-list {
            &.col-2 {
                width: 100%;
            }
        }
        .tab-item {
            text-align: left;
            padding: 0px 30px 10px;
            min-height: 63px;
            .title {
                font-size: 14px;
                line-height: 16px;
                font-weight: $font-bold;
                color: $clr-offbalck;
                opacity: 0.6;
                margin: 0px;
                margin-bottom: 5px;
                border: 0px;
                padding: 0px;
            }
            .desc {
                font-size: 12px;
                line-height: 15px;
                font-weight: $font-regular;
                color: $clr-offbalck;
                opacity: 0.6;
                text-transform: initial;
            }
            &.active {
                .title {
                    opacity: 1;
                }
                .desc {
                    opacity: 1;
                }
            }
            &:before {
                bottom: 0px;
            }
        }
        .tab-content {
            padding: 0px 0px 40px;
            .act-wrap {
                text-align: center;
                display: block;
                width: 100%;
                .btn {
                    margin-left: 20px;
                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }
            .bs-form {
                .form-wrap {
                    margin-bottom: 20px;
                }
                .form-item {
                    width: 49%;
                    padding: 0px 70px 0px 30px;
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 35px;
                    &.typ-fixhi {
                        margin-bottom: 10px;
                    }
                }
                &.typ-border {
                    .form-wrap {
                        border-bottom: 1px solid #cccccc;
                    }
                }
            }
            .folio-data {
                .label {
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: $font-regular;
                    color: #999999;
                    padding: 0px 30px 35px;
                    display: block;
                }
                .f-list {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0px 30px 15px;
                    border-bottom: 1px solid #cccccc;
                }
                .f-item {
                    width: 33.33%;
                    margin-bottom: 20px;
                    &.single {
                        width: 100%;
                        .bs-checkbox {
                            label {
                                font-weight: $font-regular;
                            }
                        }
                    }
                    .bs-checkbox {
                        margin-top: 0px;
                        label {
                            font-size: 18px;
                            line-height: 20px;
                            font-weight: $font-bold;
                            color: #999999;
                            margin-bottom: 0px;
                            cursor: pointer;
                            padding-left: 40px;
                        }
                    }
                }
            }
            .unit-detail {
                background: #f6f6f6;
                padding: 20px 30px;
                margin: 30px 0px;
                .u-list {
                    display: flex;
                    flex-wrap: wrap;
                }
                .u-item {
                    width: 28%;
                    padding-left: 30px;
                    border-left: 1px solid #cccccc;
                    &:first-child {
                        padding-left: 0px;
                        border-left: 0px;
                    }
                    .bs-label-value {
                        .label {
                            color: $clr-offbalck;
                            margin-bottom: 10px;
                        }
                        .value {
                            color: $clr-offbalck;
                        }
                    }
                }
            }
            .toggle-wrap {
                padding: 30px;
                .label {
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: $font-regular;
                    color: $clr-black;
                    display: inline-block;
                    margin-right: 50px;
                    vertical-align: middle;
                }
                .radio-bar {
                    display: inline-block;
                    border: 1px solid #cccccc;
                    border-radius: 15px;
                    overflow: hidden;
                    vertical-align: middle;
                    .radio {
                        display: inline-block;
                        input[type=radio]:not(old) {
                            margin: 0;
                            padding: 0;
                            opacity: 0;
                            position: absolute;
                            left: -999999px;
                            &:checked {
                                +label {
                                    background: $clr-primary;
                                    color: $clr-white;
                                    border-radius: 15px;
                                    ;
                                }
                            }
                        }
                        label {
                            font-size: 14px;
                            line-height: 16px;
                            font-weight: $font-bold;
                            color: $clr-border;
                            width: 50px;
                            display: inline-block;
                            padding: 5px 10px;
                        }
                    }
                }
            }
            .bs-accordion {
                .bs-form {
                    .form-wrap {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-tabs {
        .tab-head {
            margin-bottom: 2.5rem;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            padding-bottom: 1px;
        }
        .tab-list {
            min-width: 48rem;
        }
        .tab-item {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
        &.typ-2 {
            .tab-item {
                padding: 0px 0px 0px 15px;
                min-height: 100px;
                .title {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
            .tab-content {
                .bs-form {
                    .form-item {
                        width: 100%;
                        padding: 0px 15px;
                        margin-bottom: 20px;
                        &.typ-fixhi {
                            margin-bottom: 20px;
                        }
                    }
                }
                .folio-data {
                    .label {
                        padding: 0px 15px 20px;
                    }
                    .f-list {
                        padding: 0px 15px;
                    }
                    .f-item {
                        width: 50%;
                        &.single {
                            width: 50%;
                        }
                        .bs-checkbox {
                            label {
                                font-size: 14px;
                                line-height: 16px;
                                padding-left: 30px;
                            }
                        }
                    }
                }
                .toggle-wrap {
                    padding: 15px;
                }
                .unit-detail {
                    padding: 15px;
                    display: block;
                    flex-wrap: unset;
                    .u-item {
                        width: 100%;
                        padding-left: 0px;
                        margin-bottom: 10px;
                        border: 0px;
                        .bs-label-value {
                            .label {
                                margin-bottom: 3px;
                            }
                        }
                    }
                }
                .bs-accordion {
                    .toggle-wrap {
                        padding: 15px 0px;
                    }
                    .bs-form {
                        .form-item {
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}