//bs-step
.bs-step {
    text-align: center;
    .step {
        display: block;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        font-weight: $font-regular;
        color: $clr-base-light;
    }
    .title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 25px;
        color: $clr-black;
        font-weight: $font-bold;
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-step {
        .title {
            font-size: 16px;
            line-height: 18px;
        }
    }
}