// bs-question-card
.bs-question-card {
    width: 310px;
    padding: 60px 20px 40px;
    background: $clr-white;
    transition: all 0.5s ease;
    position: relative;
    pointer-events: none;
    opacity: 0.35;
    min-height: 382px;
    .question-wrap {
        .question {
            font-size: 18px;
            line-height: 22px;
            color: #003366;
            height: 100px;
            margin-bottom: 15px;
            text-align: center;
            width: 85%;
            margin: 0px auto;
        }
    }
    .ans-wrap {
        .item {
            margin: 0 auto 15px;
            padding: 0;
            width: 150px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        .list {
            text-align: center;
        }
    }
    .logo {
        position: absolute;
        top: -28px;
        left: 50%;
        transform: translateX(-50%);
        width: 56px;
        height: 57px;
    }
    &.typ-percent {
        .logo {
            background: url('../images/percent.png') no-repeat;
            background-size: cover;
        }
    }
    &.typ-gain {
        .logo {
            background: url('../images/gain.png') no-repeat;
            background-size: cover;
        }
    }
    &.typ-principal {
        .logo {
            background: url('../images/principal.png') no-repeat;
            background-size: cover;
        }
    }
    &.current {
        pointer-events: initial;
        opacity: 1;
    }
}

@media only screen and (max-width:767px) {
    .bs-question-card {
        width: 100%;
        padding: 50px 20px 30px;
        min-height: 333px;
        .question-wrap {
            .question {
                font-size: 14px;
                line-height: 16px;
                height: 65px;
                margin-bottom: 10px;
                width: 90%;
            }
        }
    }
}