//bs-select
.bs-select {
    position: relative;
    .select-option {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $clr-white;
        -webkit-box-shadow: 0px 3px 12px 0px rgba(217, 213, 217, 1);
        -moz-box-shadow: 0px 3px 12px 0px rgba(217, 213, 217, 1);
        box-shadow: 0px 3px 12px 0px rgba(217, 213, 217, 1);
        transform: translateY(100%);
        z-index: 2;
        max-height: 120px;
        overflow-y: auto!important;
        border-radius: 5px;
        li {
            padding: 10px;
            border-bottom: 1px solid $clr-border;
            cursor: pointer;
            transition: all 0.3s ease;
            &:last-child {
                border-bottom: none;
            }
            &:hover,
            &.active {
                background: #e5e5e5;
            }
        }
    }
    .field-note {
        font-size: 12px;
        line-height: 14px;
        color: $clr-border;
        position: absolute;
        bottom: -20px;
        right: 0;
        &.error {
            color: $clr-primary;
        }
    }
    .btn-addon {
        .icon {
            transition: all 0.5s ease;
        }
    }
    &.open {
        .btn-addon {
            .icon {
                transform: rotate(-90deg);
            }
        }
    }
    .input-group {
        padding-left: 0px;
    }
}