//bs-cancel
.bs-cancel {
    .title {
        font-size: 20px;
        line-height: 22px;
        font-weight: $font-bold;
        color: $clr-offbalck;
        margin-bottom: 20px;
    }
    .item {
        margin-bottom: 50px;
        .mod-box {
            padding: 25px;
        }
        .bs-checkbox {
            margin-top: 0px;
            label {
                margin-bottom: 0px;
                font-size: 20px;
                line-height: 22px;
                color: $clr-offbalck;
                font-weight: $font-bold;
                padding-left: 35px;
                &:before {
                    width: 22px;
                    height: 22px;
                    border-radius: 2px;
                    border: 1px solid #bebebe;
                }
                &:after {
                    border: solid $clr-primary;
                    border-width: 0 2px 2px 0;
                    top: 5px;
                    left: 8px;
                }
            }
            input[type=checkbox]:checked+label:before {
                background: transparent;
            }
        }
        .lhs {
            width: 45%;
            display: inline-block;
            vertical-align: middle;
        }
        .rhs {
            width: 54%;
            display: inline-block;
            vertical-align: middle;
            .bs-label-value {
                width: 32.5%;
                display: inline-block;
                padding-left: 50px;
                .value {
                    color: $clr-offbalck;
                }
            }
        }
    }
    .btn-wrap {
        text-align: center;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-cancel {
        .title {
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $clr-offbalck;
        }
        .item {
            .lhs {
                width: 100%;
                margin-bottom: 20px;
            }
            .rhs {
                width: 100%;
                .bs-label-value {
                    width: 49%;
                    margin-bottom: 15px;
                    padding-left: 30px;
                }
            }
            .mod-box {
                padding: 25px 15px;
            }
            .bs-checkbox {
                label {
                    font-size: 16px;
                    line-height: 18px;
                    padding-left: 30px;
                    &:before {
                        width: 18px;
                        height: 18px;
                    }
                    &:after {
                        top: 2px;
                        left: 6px;
                    }
                }
            }
        }
    }
}