//bs-radio
.bs-radio {
    margin-bottom: 35px;
    .radio {
        display: inline-block;
        margin-right: 20px;
        label {
            padding-left: 20px;
            font-size: 14px;
            line-height: 16px;
            color: #6e95bc;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 13px;
                height: 13px;
                border: 1px solid $clr-white;
                left: 0px;
                border-radius: 50%;
            }
            &:after {
                content: '';
                position: absolute;
                width: 7px;
                height: 7px;
                background: $clr-white;
                left: 3px;
                top: 3px;
                // right: 0px;
                // margin: 0px auto;
                border-radius: 50%;
                opacity: 0;
                transition: all 0.5s ease-in;
            }
        }
        input[type=radio]:not(old) {
            width: 28px;
            margin: 0;
            padding: 0;
            opacity: 0;
            position: absolute;
            left: -999999px;
        }
        input[type=radio]:not(old):checked+label {
            &:after {
                opacity: 1;
            }
        }
    }
    .radio-bar {
        margin-bottom: 10px;
        &.typ-2 {
            background: $clr-white;
            display: inline-block;
            margin-top: 10px;
            .radio {
                margin: 0px;
                label {
                    padding: 10px;
                    display: inline-block;
                    &:before {
                        content: none;
                    }
                    &:after {
                        content: none;
                    }
                }
            }
            input[type=radio]:not(old):checked+label {
                background: $clr-primary;
                color: $clr-white;
                border: 1px solid $clr-primary;
            }
        }
    }
    .text {
        color: $clr-white;
        margin-right: 20px;
        font-size: 14px;
        line-height: 18px;
    }
    &.typ-tag {
        height: auto;
        display: block;
        margin-bottom: 0px;
        [type=radio]:checked+label,
        [type=radio]:not(:checked)+label {
            display: block;
            text-align: center;
            padding: 10px 5px;
            font-size: 12px;
            line-height: 14px;
            color: #053769;
            background: #91a5b9;
            border-radius: 5px;
            transition: all 0.3s ease;
            &:after,
            &:before {
                content: none;
            }
        }
        [type=radio]:checked+label {
            color: $clr-white;
            background: $clr-primary;
            &:after,
            &:before {
                content: none;
            }
        }
        input[type=radio]:not(old) {
            margin: 0;
            padding: 0;
            opacity: 0;
            position: absolute;
        }
    }
    &.typ-amt {
        margin-bottom: 0px;
        input[type=radio]:not(old) {
            position: absolute;
            left: -9999px;
        }
        input[type=radio]:not(old)+label {
            font-size: 14px;
            line-height: 16px;
            font-weight: $font-regular;
            background: #f2f5f7;
            padding: 10px 20px;
            border-radius: 20px;
            color: $clr-base-dark;
            cursor: pointer;
            display: inline-block;
        }
        input[type=radio]:not(old):checked+label {
            background: $clr-primary;
            color: $clr-white;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-radio {
        .text {
            margin-right: 12px;
        }
        .radio {
            margin-right: 10px;
        }
        &.typ-amt {
            margin-bottom: 0px;
            input[type=radio]:not(old)+label {
                font-size: 12px;
                line-height: 14px;
                padding: 10px 15px;
            }
        }
    }
}