//bs-checkbox{
.bs-checkbox {
    margin-top: 20px;
    label {
        font-size: 14px;
        line-height: 18px;
        color: $clr-base-light;
        font-weight: $font-regular;
        text-align: center;
        margin-bottom: 30px;
        text-align: left;
        padding-left: 30px;
        position: relative;
        display: inline-block;
        .link {
            color: $clr-primary;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background: 0 0;
            border: 1px solid #a2a5a7;
            transition: all .5s ease;
            border-radius: 4px;
        }
        &:after {
            content: "";
            display: block;
            width: 6px;
            height: 11px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            position: absolute;
            opacity: 0;
            transition: all .5s ease;
            top: 3px;
            left: 7px;
        }
    }
    input[type=checkbox] {
        // width: 20px;
        // height: 20px;
        // vertical-align: top;
        position: absolute;
        opacity: 0;
        &:checked {
            +label {
                &:before {
                    background: $clr-primary;
                    border-color: $clr-primary;
                }
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    // &.margin-bottom {
    //     margin-bottom: 30px;
    // }
}