// bs-label-value
.bs-label-value {
    .label {
        font-size: 14px;
        line-height: 16px;
        display: block;
        font-weight: $font-regular;
        color: $clr-border;
        margin-bottom: 5px;
        text-transform: capitalize;
    }
    .value {
        font-size: 18px;
        line-height: 20px;
        display: block;
        font-weight: $font-bold;
        color: $clr-base-dark;
        .ruppee {
            font-weight: $font-regular;
        }
    }
}

@media only screen and (max-width:767px) {
    .bs-label-value {
        .value {
            font-size: 16px;
            line-height: 18px;
        }
    }
}