//bs-icon-info
.bs-icon-info {
    text-align: center;
    position: relative;
    min-height: 160px;
    .icon-wrap {
        display: block;
        margin: 0px auto 10px;
        .icon {
            width: 52px;
            display: block;
            margin: 0px auto;
            &.icon-rated {
                background: url('../images/rated.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 27px;
                height: 50px;
            }
            &.icon-equity {
                background: url('../images/equity.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 45px;
                height: 50px;
            }
            &.icon-debt {
                background: url('../images/debit.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 47px;
                height: 50px;
            }
            &.icon-tax {
                background: url('../images/tax.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 53px;
                height: 50px;
            }
            &.icon-new {
                background: url('../images/new.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 50px;
                height: 50px;
            }
            &.icon-recommand {
                background: url('../images/recommand.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 24px;
                height: 50px;
            }
            &.icon-profile {
                background: url('../images/profile.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 55px;
                height: 55px;
            }
            &.icon-ticket {
                background: url('../images/ticket.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 105px;
                height: 49px;
            }
            &.icon-calender {
                background: url('../images/calender.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 75px;
                height: 55px;
            }
            &.icon-cal-time {
                background: url('../images/cal-time.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 100px;
                height: 56px;
            }
            &.icon-safe {
                background: url('../images/safe.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 65px;
                height: 70px;
            }
            &.icon-rewards {
                background: url('../images/rewards.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 59px;
                height: 70px;
            }
            &.icon-risk {
                background: url('../images/risk-choice.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 4rem;
                height: 3.8rem;
            }
            &.icon-conservative {
                background: url('../images/conservative.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 4rem;
                height: 2.7rem;
            }
            &.icon-balanced {
                background: url('../images/balnced1.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 4rem;
                height: 3rem;
            }
            &.icon-growth {
                background: url('../images/growth.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 4rem;
                height: 4rem;
            }
            &.icon-aggressive {
                background: url('../images/agreesive.png') no-repeat 0px 0px transparent;
                background-size: cover;
                width: 4rem;
                height: 2.6rem;
            }
        }
    }
    .info-wrap {
        .title {
            font-size: 21px;
            line-height: 23px;
            margin-bottom: 10px;
            color: $clr-base-dark;
            font-weight: $font-regular;
        }
        .subtitle {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 10px;
            color: $clr-base-dark;
            font-weight: $font-regular;
        }
        .desc {
            position: absolute;
            bottom: 0px;
            font-size: 14px;
            line-height: 16px;
            color: $clr-base-light;
            font-weight: $font-regular;
            text-align: center;
        }
    }
    &.typ-login {
        .info-wrap {
            .title {
                font-size: 20px;
                line-height: 22px;
                font-weight: $font-bold;
                margin-bottom: 25px;
            }
            .item {
                width: 49%;
                display: inline-block;
            }
        }
    }
    &.typ-inline {
        min-height: initial;
        text-align: left;
        .icon-wrap,
        .info-wrap {
            display: inline-block;
            vertical-align: middle;
        }
        .icon-wrap {
            margin: 0;
            margin-right: 1.2rem;
            width: 4rem;
            height: 4rem;
        }
        .info-wrap {
            .title {
                font-size: 1.8rem;
                line-height: 2rem;
                color: $clr-base-dark;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-icon-info {
        min-height: auto;
        .info-wrap {
            .title {
                text-align: center;
            }
            .subtitle {
                text-align: center;
            }
            .desc {
                position: static;
            }
        }
        &.typ-login {
            .icon-wrap {
                margin: 0px 0px 10px;
                .icon {
                    margin: 0px;
                }
            }
            .info-wrap {
                .title {
                    font-size: 20px;
                    line-height: 22px;
                    text-align: left;
                    margin-bottom: 15px;
                }
                .item {
                    width: 100%;
                    margin-bottom: 10px;
                    &:last-child {
                        margin: 0px;
                    }
                }
            }
        }
    }
}