//bs-modal
.bs-modal {
    width: 75%;
    padding: 35px 25px 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 8px;
    background: $clr-white;
    z-index: 18;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
    &.active {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
    }
    .modal-body {
        position: relative;
        padding: 15px;
        p {
            font-size: 16px;
            line-height: 20px;
            color: $clr-offbalck;
            font-weight: $font-regular;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    .modal-head {
        text-align: center;
        margin-bottom: 40px;
        .title {
            font-size: 20px;
            line-height: 22px;
            color: $clr-offbalck;
            font-weight: $font-bold;
        }
    }
    .modal-foot {
        text-align: center;
        margin-top: 30px;
        .btn-default {
            margin-left: 25px;
        }
    }
    &.typ-video {
        iframe {
            height: 400px;
        }
    }
    .close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        padding: 0;
        background: url('../images/close.svg') center center no-repeat;
        background-size: cover;
        &:focus {
            outline: 0px;
        }
    }
    &.typ-2 {
        width: 70rem;
    }
    &.typ-cancel {
        padding: 35px;
        width: 60rem;
        .modal-title {
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            margin-bottom: 30px;
            font-weight: $font-bold;
            color: $clr-offbalck;
        }
        .subtitle {
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            margin-bottom: 15px;
            font-weight: $font-bold;
            color: $clr-offbalck;
        }
        .fund-item {
            padding: 20px 0px;
            border-bottom: 1px solid #cccccc;
            &:last-child {
                border-bottom: 0px;
            }
            .fund-title {
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                margin-bottom: 15px;
                font-weight: $font-regular;
                color: $clr-offbalck;
            }
            .item {
                width: 25%;
                display: inline-block;
                &:nth-child(3) {
                    width: 34%;
                }
                &:nth-child(4) {
                    width: 14%;
                }
            }
        }
        .btn-wrap {
            text-align: center;
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-modal {
        &.typ-video {
            width: 90%;
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            max-height: 500px;
            .close-btn {
                top: 11px;
                right: 17px;
                width: 15px;
                height: 15px;
            }
            .modal-body {
                padding: 40px 15px 15px;
            }
        }
        &.typ-2 {
            width: 95%;
            padding: 40px 10px 20px;
            .modal-head {
                margin-bottom: 30px;
                .title {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .modal-body {
                padding: 0px;
                p {
                    font-size: 13px;
                    line-height: 17px;
                    .cm-line-break {
                        display: inline;
                    }
                }
            }
            .modal-foot {
                .btn {
                    padding: 8px 15px;
                    &.btn-default {
                        margin-left: 5px;
                    }
                }
            }
            .close-btn {
                width: 15px;
                height: 15px;
            }
        }
        &.typ-cancel {
            width: 95%;
            padding: 40px 10px 20px;
            .modal-title {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 20px;
            }
            .subtitle {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 0px;
                padding: 0px 40px;
            }
            .fund-item {
                padding: 20px 0px;
                border-bottom: 1px solid #cccccc;
                &:last-child {
                    border-bottom: 0px;
                }
                .item {
                    width: 49%;
                    margin-bottom: 20px;
                    &:nth-child(3) {
                        margin-bottom: 0px;
                    }
                    &:nth-child(4) {
                        margin-bottom: 0px;
                    }
                    &:nth-child(odd) {
                        width: 60%;
                    }
                    &:nth-child(even) {
                        width: 39%;
                    }
                }
            }
            .btn-wrap {
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}