//bs-accordion
.bs-accordion {
    padding: 30px;
    .acc-item {
        padding: 20px 0px;
        border-bottom: 1px solid #cccccc;
        .acc-title {
            font-size: 22px;
            line-height: 24px;
            font-weight: $font-bold;
            color: $clr-offbalck;
            cursor: pointer;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                background: url('../images/plus.png')no-repeat 0px 0px transparent;
                background-size: contain;
                width: 15px;
                height: 15px;
            }
        }
        .acc-detail {
            max-height: 0px;
            opacity: 0;
            visibility: hidden;
            transition: max-height .4s ease-in-out, opacity 1s ease-in-out;
        }
        &.active {
            .acc-title {
                &:before {
                    background: url('../images/minus.png')no-repeat 0px 0px transparent;
                    background-size: contain;
                }
            }
            .acc-detail {
                opacity: 1;
                visibility: visible;
                max-height: 220px;
            }
        }
        &:last-child {
            border-bottom: 0px;
            padding-bottom: 0px;
        }
    }
    .bs-form {
        .form-wrap {
            margin-bottom: 0px;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-accordion {
        padding: 15px;
        .acc-item {
            padding: 10px 0px;
            .acc-title {
                font-size: 14px;
                line-height: 16px;
                &:before {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}