//bs-transction
.bs-fund-transction {
    .amount-bar {
        padding: 15px 30px;
        border: 1px solid #053769;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        -moz-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        border-radius: 5px;
        margin-bottom: 20px;
        .text {
            font-size: 20px;
            line-height: 22px;
            color: $clr-base-dark;
            font-weight: $font-bold;
            width: 49%;
            display: inline-block;
            vertical-align: middle;
        }
        .amount {
            font-size: 18px;
            line-height: 20px;
            color: $clr-base-dark;
            font-weight: $font-regular;
            width: 50%;
            display: inline-block;
            text-align: right;
            vertical-align: middle;
        }
    }
    .fund-item {
        -webkit-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        -moz-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
        border-radius: 5px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:768px) {
    .bs-fund-transction {
        .amount-bar {
            padding: 10px 15px;
            .text {
                font-size: 16px;
                line-height: 18px;
            }
            .amount {
                font-size: 16px;
                line-height: 18px;
                width: 49%;
            }
        }
    }
}