.bs-section {
    padding: 50px 0px;
    .title {
        font-size: 24px;
        line-height: 26px;
        font-weight: $font-bold;
        color: $clr-black;
        margin-bottom: 40px;
        &.typ-sm {
            font-size: 1.6rem;
            line-height: 1.8rem;
            margin-bottom: 0.5rem;
            color: $clr-offbalck;
        }
    }
    .sub-text {
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: $clr-offbalck;
        margin-bottom: 1.5rem;
    }
    .head-wrap {
        margin-bottom: 40px;
        .title {
            margin-bottom: 5px;
        }
    }
    &.typ-blue {
        background-color: $clr-base-dark;
        .title {
            color: $clr-white;
        }
    }
    &.typ-gray {
        background-color: #f5f5f5;
    }
    &.no-pad-top {
        padding-top: 10px;
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-section {
        padding: 25px 0px;
        .title {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 10px;
            &.typ-sm {
                font-size: 1.8rem;
                line-height: 2rem;
            }
        }
        .sub-text {
            margin-bottom: 2rem;
            font-size: 1.3rem;
            line-height: 1.5rem;
        }
    }
}