.btn {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 20px;
    background: $clr-primary;
    border-radius: 5px;
    color: $clr-white;
    text-transform: capitalize;
    font-weight: $font-bold;
    &:focus {
        outline: none;
    }
    &.btn-default {
        border: 1px solid $clr-primary;
    }
    &.btn-primary {
        color: $clr-primary;
        background: transparent;
        transition: all 0.5s ease;
        border: 1px solid $clr-primary;
        &:hover {
            background: $clr-primary;
            color: $clr-white;
        }
    }
    &.disabled {
        opacity: 0.35;
        pointer-events: none;
    }
}