//comp-datepiker
.ui-datepicker {
    width: 350px;
    padding: 10px;
    width: 430px;
    padding: 10px;
    position: fixed !important;
    left: 50% !important;
    top: 43% !important;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
    transition: none !important;
    overflow: initial !important;
    td {
        padding: 6px;
    }
    .highlight {
        .ui-state-default {
            color: $clr-primary;
            font-weight: bold;
        }
    }
}

.ui-widget-header {
    border: 0px;
    background: transparent;
    .ui-icon {
        background: url('../images/next.png') no-repeat 0px 0px transparent;
        background-size: cover;
        width: 10px;
        height: 10px;
        &.ui-icon-circle-triangle-w {
            transform: rotate(180deg);
        }
    }
}

.ui-datepicker {
    .ui-datepicker-prev,
    .ui-datepicker-next {
        &:hover {
            background: none;
            border: none;
            top: 2px;
        }
        .ui-datepicker-next-hover {
            &:hover {
                right: 2px;
            }
        }
        .ui-datepicker-prev {
            &:hover {
                left: 2px;
            }
        }
    }
}

.ui-state-default,
.ui-widget-content {
    .ui-state-default {
        border: 0px;
        background: transparent;
        text-align: center;
    }
}

.ui-state-active,
.ui-widget-content {
    .ui-state-active {
        border: 2px solid $clr-primary;
    }
}

@media only screen and (max-width:$media-lg) {
    .ui-datepicker {
        width: 95%;
        // left: 0px !important;
        // right: 0px !important;
        margin: 0px auto;
    }
}