.comp-funds {
    width: 78%;
    margin: 0px auto;
    .list {
        .item {
            width: 31%;
            display: inline-block;
            padding: 15px 25px;
            margin-right: 20px;
            -webkit-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
            -moz-box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
            box-shadow: 0px 0px 19px 0px rgba(227, 218, 227, 1);
            border-radius: 5px;
            vertical-align: top;
            margin-bottom: 15px;
            position: relative;
            &.row-end {
                margin: 0px;
            }
            .page-link {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                z-index: 1;
                display: block;
            }
        }
    }
    .extra-note {
        text-align: center;
        display: block;
        margin-top: 20px;
        font-size: 12px;
        line-height: 14px;
        color: $clr-black;
        font-weight: $font-regular;
        .link {
            color: $clr-primary;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .comp-funds {
        width: 80%;
        .list {
            .item {
                width: 100%;
                margin-bottom: 15px;
                &.row-end {
                    margin-bottom: 15px;
                }
            }
        }
    }
}